@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: #001a49;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/*  CONTENEDOR DE IMAGEN PRINCIPAL  */

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: darkgray;
}
.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../images/img\ principal.jpg);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

/*  MENU DE NAVEGACIÓN  */

.nav{
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items{
    list-style: none;
}

.nav__links{
    color: #fff;
    text-decoration: none;
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
    filter: invert(1);
}

.nav__img{
    display: block;
    width: 30px;
}

.nav__close{
    display: var(--show, none);
}

.hero__logo{
    width: 350px;
}

/*  PARTE DEL MEDIO DE LA FOTO (.hero__container)*/

.hero__container{
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__logo{
    margin: auto;
}

.hero__paragraph{
    margin-bottom: 20px;
    color: #fff;
}

.cta{
    display: inline-block;
    background-color: blueviolet;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 30px;
}

/*  SECCION QUE OFRECEMOS*/

.about{
    text-align: center;
}

.subtitulo{
    color: #001a49;
    font-size: 2rem;
    margin-bottom: 25px;
}

.about__paragraph{
    line-height: 1.7;
}

.about__main{
    padding-top: 60px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.about__icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: auto;
}

.about__icon{
    width: 40px;
}

/*  SECCION DEL CATALOGO*/

.fondo{
    background-color: #e5e5f7;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    overflow: hidden;
}

.fondo__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.fondo__picture{
    max-width: 500px;
}

.fondo__paragraph{
    line-height: 2;
    margin-bottom: 20px;
}
.fondo__img{
    width: 100%;
    display: block;
}

/*  PREGUNTAS FRECUENTES   */

.questions{
    text-align: center;
}

.questions__container{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 50px;
}

.questions__padding{
    padding: 30px 0 30px;
    border: 1px solid #001a49;
    border-radius: 6px;
}    

.question__padding--add{
    padding-bottom: 30px;
}

.questions__answer{
    padding: 0 30px 0x;
    overflow: hidden;
}

.questions__title{
    display: flex;
    cursor: pointer;
    color: #001a49;
    justify-content: space-between;
    font-size: 20px;
    padding: 0 30px 0;
    text-align: center;
}

.questions__arrow{
    border-radius: 50%;
    background-color: #001a49;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transform .3s;
}

.questions__img--rotate{
    transform: rotate(180deg);
}

.questions__show{
    text-align: left;
    height: 0;
    padding: 0 30px 0;
    transition: height .3s;
}

.questions__img{
    display: block;
}

/* FOOTER */

.footer{
    background-color: #1D293F;
}

.logo{
    width: 200px;
    margin-bottom: 20px;
}

.footer__newsletter{
    color: #fff;
}

.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 40px;
}

.nav--footer{
    padding-bottom: 10px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer__inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer__input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;    
}

.footer__submit{
    margin-left: auto;
    display: inline-blox;
    height: 50px;
    padding: 0 20px;
    background-color: #2091F9;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;
    margin-top: 10px;
}

.footer__copyright{
    font-weight: 100;
}

.footer__icons{
    display: inline-flex;
    margin-bottom: 10px;
}

.footer__img{
    width: 30px;
    filter: invert(1);
}

/* MEDIA QUERIES */

@media (max-width:800px){
    .nav__menu{
        display: block;
    }
    .nav__link--menu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }
    .nav__link--show{
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }
    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
        filter: invert(1);
    }
    .footer__container{
        flex-wrap: wrap;
    }
    .nav--footer{
        width: 100%;
        justify-items: center;
    }
    .nav__link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer__form{
        width: 100%;
        justify-content: space-evenly;
        margin-top: 40px;
    }
    .footer__input{
        flex: 1;
    }
}